BODY {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
TD {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
TH {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
SELECT {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
DIV {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
P {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
BODY {
	BACKGROUND-COLOR: #ffffff
}
BODY:active {
	COLOR: #ff6600
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #0a4e92
}
A:visited {
	COLOR: #336699
}
A:active {
	BACKGROUND-COLOR: transparent
}
A:hover {
	text-decoration: underline;

}
.content {
	FONT-SIZE: 11px; LINE-HEIGHT: 16px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.intro {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px
}
.accent {
	COLOR: #fd682e
}
.lightheader {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #567185; LINE-HEIGHT: 18px
}
.darkheader {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #333333; LINE-HEIGHT: 18px
}
.accentheader {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fd682e; LINE-HEIGHT: 18px
}
.gray {
	COLOR: #999999
}
.quote {
	COLOR: #8a8b8b; LINE-HEIGHT: 14px
}
.quoteloose {
	COLOR: #567185; LINE-HEIGHT: 18px
}
.sidecontent {
	FONT-SIZE: 10px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.sidelink {
	LINE-HEIGHT: 26px
}
.image:hover {
	BACKGROUND-COLOR: transparent
}
.clientlist {
	LINE-HEIGHT: 20px
}
.white {
	COLOR: #ffffff
}
.blue {
	COLOR: #0a4e92
}
.listing {
	FONT-SIZE: 10px; COLOR: #0a4e92
}
.listing:hover {
	COLOR: #ffffff
}
.listing {
	FONT-SIZE: 10px; COLOR: #0a4e92
}
.select {
	FONT-SIZE: 11px; COLOR: #0a4e92; LINE-HEIGHT: 18px
}
.form {
	FONT-SIZE: 10px
}
.contentloose {
	FONT-SIZE: 11px; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif
}
.accentintro {
	FONT-SIZE: 12px; COLOR: #fd682e; LINE-HEIGHT: 18px
}
.footer {
	FONT-SIZE: 10px
}
.approachContent {
	Z-INDEX: 2; LEFT: 240px; VISIBILITY: hidden; WIDTH: 505px; POSITION: absolute; TOP: 0px; HEIGHT: 300px
}
#topnav {
	Z-INDEX: 4; LEFT: 35px; POSITION: absolute; TOP: 12px
}
.introIndent {
	FONT-SIZE: 12px;
	LINE-HEIGHT: 20px;
	text-indent: 10px;
	list-style-type: square;
	list-style-position: inside;
	list-style-image: none;


}
.test {
	list-style-type: square;
}
.introList {
	list-style-type: disc;
	line-height: 20px;



}
.quotation {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	color: #000000;
	margin-left: 25px;

}
.quotationSig {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: italic;
	color: #000000;
}
